/* KoPub Dotum */
@font-face {
  font-family: 'KoPub Dotum';
  font-style: normal;
  font-weight: 300;
  src: url(/static/KoPubDotum-Light.eot);
  src: url(/static/KoPubDotum-Light.eot?#iefix) format('embedded-opentype'),
       url(/static/KoPubDotum-Regular.woff) format('woff'),
       url(/static/KoPubDotum-Regular.ttf) format('truetype');
}
@font-face {
 font-family: 'KoPub Dotum';
 font-style: normal;
 font-weight: 400;
  src: url(/static/KoPubDotum-Light.eot);
  src: url(/static/KoPubDotum-Light.eot?#iefix) format('embedded-opentype'),
       url(/static/KoPubDotum-Regular.woff) format('woff'),
       url(/static/KoPubDotum-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'KoPub Dotum';
  font-style: normal;
  font-weight: 700;
  src: url(/static/KoPubDotum-Bold.eot);
  src: url(/static/KoPubDotum-Bold.eot?#iefix) format('embedded-opentype'),
       url(/static/KoPubDotum-Bold.woff) format('woff'),
       url(/static/KoPubDotum-Bold.ttf) format('truetype');
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
    text-align: center;
    padding: 2%;
}