{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <style type="text/css">
    .important { color: #336699; }
    #precedent tbody tr th:nth-child(1){
        width:30%;
    }
  </style>
    <script>
    var tableSetting = {
        searching: false,
    };

         $(function(){
            $(".type-menu li a").click(function(){
              $(".type").html($(this).text()+' &nbsp;<span class="caret"></span>');
              if($(this).text()=="민사") {
                  $(".type").val('civil');
              } else if ($(this).text()=="형사") {
                  $(".type").val('criminal');
              }
            });
         });
         $(function(){
            $(".dismiss-menu li a").click(function(){
              $(".dismiss").html($(this).text()+' &nbsp;<span class="caret"></span>');
              if($(this).text()=="예") {
                  $(".dismiss").val('O');
              } else if ($(this).text()=="아니오") {
                  $(".dismiss").val('X');
              } else if ($(this).text()=="일부 기각") {
                  $(".dismiss").val('E');
              } else {
                  $(".dismiss").val('');
              }
            });
         });
         $(function(){
            $(".farewell-menu li a").click(function(){
              $(".farewell").html($(this).text()+' &nbsp;<span class="caret"></span>');
              if($(this).text()=="예") {
                  $(".farewell").val('O');
              } else if ($(this).text()=="아니오") {
                  $(".farewell").val('X');
              } else if ($(this).text()=="일부 기각") {
                  $(".farewell").val('E');
              } else {
                  $(".farewell").val('');
              }
            });
         });

         function search() {
             $('#example').dataTable().fnDestroy();
                 var tableBody = document.getElementById("tableBody");
                while (tableBody && tableBody.firstChild) {
                    tableBody.removeChild(tableBody.firstChild);
                }
                if (document.getElementById("example") != null) {
                        $('#content')[0].removeChild(document.getElementById("example"));
                }


             $.ajax({
                type: "GET",
                url: "/get_precedent_by_charge",
                data: {
                    type: $(".type")[0].value,
                    charge: $("#charge")[0].value,
                    dismiss: $(".dismiss")[0].value,
                    farewell: $(".farewell")[0].value
                }
            }).done(function (msg) {

                ret = JSON.parse(msg);
                if (ret!=[]) {

                    var table = document.createElement("table");
                    table.setAttribute('id', 'example');
                    table.setAttribute('class', 'display');
                    table.setAttribute('cellspacing', '0');
                    table.setAttribute('width', '100%');
                    $('#content').append(table);
                    var thead = document.createElement("thead");
                    thead.setAttribute('id', 'tableHead');
                    table.append(thead);
                    var tbody = document.createElement("tbody");
                    tbody.setAttribute('id', 'tableBody');
                    table.append(tbody);

                    var tableHead = document.getElementById("tableHead");
                    var tr = document.createElement("tr");
                    Object.keys(ret[0]).forEach(function (key) {
                        var th = document.createElement("th");
                        th.innerHTML = key;
                        tr.append(th);
                    });
                    $("#tableHead")[0].append(tr);

                    var tableBody = document.getElementById("tableBody");
                    while (tableBody.firstChild) {
                        tableBody.removeChild(tableBody.firstChild);
                    }
                    for (idx in ret) {
                        var tr = document.createElement("tr");
                        Object.keys(ret[idx]).forEach(function (key) {
                            var td = document.createElement("td");
                            td.innerHTML = ret[idx][key];
                            tr.append(td);
                        });
                        $("#tableBody")[0].append(tr);
                    }
                    var table = $('#example').DataTable(tableSetting);
                    $('#example tbody').on('click', 'tr', function () {
                        var data = table.row(this).data();
                        window.location.href = '/precedent?precedent=' + data[0];

                    });
                } else {
                    var tableBody = document.getElementById("tableBody");
                    while (tableBody.firstChild) {
                        tableBody.removeChild(tableBody.firstChild);
                    }
                }





             });
         }

    </script>
{% endblock %}
{% block content %}

    <div class="form-group">
        <div class="dropdown">
        <label for="usr">타입:</label>
          <button class="btn btn-primary dropdown-toggle type" type="button" data-toggle="dropdown">타입
          <span class="caret"></span></button>
          <ul class="dropdown-menu type-menu">
            <li><a href="#">민사</a></li>
            <li><a href="#">형사</a></li>
          </ul>
        </div>

        <div class="dropdown">
        <label for="usr">기각:</label>
          <button class="btn btn-primary dropdown-toggle dismiss" type="button" data-toggle="dropdown">선택 안함
          <span class="caret"></span></button>
          <ul class="dropdown-menu dismiss-menu">
            <li><a href="#">예</a></li>
            <li><a href="#">아니오</a></li>
            <li><a href="#">일부 기각</a></li>
            <li><a href="#">선택 안함</a></li>
          </ul>
        </div>

        <div class="dropdown">
            <label for="usr">환송:</label>
          <button class="btn btn-primary dropdown-toggle farewell" type="button" data-toggle="dropdown">선택 안함
          <span class="caret"></span></button>
          <ul class="dropdown-menu farewell-menu">
            <li><a href="#">예</a></li>
            <li><a href="#">아니오</a></li>
            <li><a href="#">일부 기각</a></li>
            <li><a href="#">선택 안함</a></li>
          </ul>
        </div>

        <label for="usr">관련법:</label>
        <input id="charge" class="form-control" type="text" name="charge"/>
        </br>
        <center><button class="btn btn-primary" style="width:100%" onclick="search()">검색</button></center>
    </div>
    </br>
    </br>

{% endblock %}