{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <style type="text/css">
    .important { color: #336699; }
    #precedent tbody tr th:nth-child(1){
        width:30%;
    }
  </style>
    <script>

         $(function(){
            $(".type-menu li a").click(function(){
              $(".type:first-child").html($(this).text()+' &nbsp;<span class="caret"></span>');
              if($(this).text()=="민사") {
                  $(".type:first-child").val('civil');
              } else if ($(this).text()=="형사") {
                  $(".type:first-child").val('criminal');
              }
            });
         });
         $(function(){
            $(".dismiss-menu li a").click(function(){
              $(".dismiss:first-child").html($(this).text()+' &nbsp;<span class="caret"></span>');
              if($(this).text()=="예") {
                  $(".dismiss:first-child").val('O');
              } else if ($(this).text()=="아니오") {
                  $(".dismiss:first-child").val('X');
              } else if ($(this).text()=="일부 기각") {
                  $(".dismiss:first-child").val('E');
              } else {
                  $(".dismiss:first-child").val('');
              }
            });
         });
         $(function(){
            $(".farewell-menu li a").click(function(){
              $(".farewell:first-child").html($(this).text()+' &nbsp;<span class="caret"></span>');
              if($(this).text()=="예") {
                  $(".farewell:first-child").val('O');
              } else if ($(this).text()=="아니오") {
                  $(".farewell:first-child").val('X');
              } else if ($(this).text()=="일부 기각") {
                  $(".farewell:first-child").val('E');
              } else {
                  $(".farewell:first-child").val('');
              }
            });
         });

         function search() {
             $.ajax({
                type: "GET",
                url: "/get_precedent_by_charge",
                data: {
                    type: $(".type:first-child")[0].value,
                    charge: $("#charge")[0].value,
                    dismiss: $(".dismiss:first-child")[0].value,
                    farewell: $(".farewell:first-child")[0].value
                }
            }).done(function (msg) {
                 data = JSON.parse(msg);
             });
         }

    </script>
{% endblock %}
{% block content %}

    <div class="form-group">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle type" type="button" data-toggle="dropdown">타입
          <span class="caret"></span></button>
          <ul class="dropdown-menu type-menu">
            <li><a href="#">민사</a></li>
            <li><a href="#">형사</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle dismiss" type="button" data-toggle="dropdown">기각
          <span class="caret"></span></button>
          <ul class="dropdown-menu dismiss-menu">
            <li><a href="#">예</a></li>
            <li><a href="#">아니오</a></li>
            <li><a href="#">일부 기각</a></li>
            <li><a href="#">선택 안함</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle farewell" type="button" data-toggle="dropdown">환송
          <span class="caret"></span></button>
          <ul class="dropdown-menu farewell-menu">
            <li><a href="#">예</a></li>
            <li><a href="#">아니오</a></li>
            <li><a href="#">일부 기각</a></li>
            <li><a href="#">선택 안함</a></li>
          </ul>
        </div>

        <label for="usr">관련법:</label>
        <input id="charge" class="form-control" type="text" name="charge"/>
        </br>
        <center><button class="btn btn-primary" style="width:100%" onclick="search()">검색</button></center>
    </div>
    </br>
    </br>

{% endblock %}