{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <style type="text/css">
    .important { color: #336699; }
  </style>
    <script>
    </script>
{% endblock %}
{% block content %}
    <img src="/static/main.gif" width="640px" height="517px" style="display: block;margin: 0 auto;">
    <div style="text-align: center;font-family: 'Droid Serif', serif; font-size: xx-large">JUDGEMENT DATABASE</div>

{% endblock %}