<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel='stylesheet' href='//cdn.jsdelivr.net/font-kopub/1.0/kopubdotum.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <style>
        * {
            font-family: "KoPub Dotum";
        }
        </style>
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body>
  <a href="/courts">법원 검색</a>
  <a href="/accused_search">피고 검색</a>
  <a href="/criminal_statics">통계</a>

    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; DataBase Team Project - Group2</a>.
      {% endblock %}
    </div>
  </body>
</html>