{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <style type="text/css">
    .important { color: #336699; }
    #precedent tbody tr th:nth-child(1){
        width:30%;
    }
  </style>
    <script>
    var tableSetting = {
                searching: false,
            };

        $(document).ready(function() {
                        $('#example').dataTable().fnDestroy();

            $.ajax({
                type: "GET",
                url: "/get_precedent",
                data: {precedent: "{{precedent}}" }
            }).done(function (msg) {
                data = JSON.parse(msg);



                Object.keys(data).forEach(function (key) {


                });

                    ret = data.precedent;
                    var id = "precedent";
                    if (document.getElementById(id) != null) {
                        $('#content').remove($("#"+id)[0]);
                    }
                    var table = document.createElement("table");

                    table.setAttribute('id', id);
                    table.setAttribute('class', 'display table');
                    table.setAttribute('cellspacing', '0');
                    table.setAttribute('width', '100%');
                    $('#content').append(table);
                    var thead = document.createElement("thead");
                    thead.setAttribute('id', 'tableHead'+id);
                    table.append(thead);
                    var tbody = document.createElement("tbody");
                    tbody.setAttribute('id', 'tableBody'+id);
                    table.append(tbody);

                    for (idx in ret) {
                        Object.keys(ret[idx]).forEach(function (key2) {
                            var tr = document.createElement("tr");
                            var th = document.createElement("th");
                            th.innerHTML = key2;
                            tr.append(th);
                            var td = document.createElement("td");
                            td.innerHTML = ret[idx][key2];
                            tr.append(td);
                            tbody.append(tr);
                        });
                    }



                ret = data.plaintiff;
                var id = "plaintiff";
                if(document.getElementById(id)!=null) {
                    $('#content').remove($("#"+id)[0]);
                }
                var table = document.createElement("table");
                table.setAttribute('id',id);
                table.setAttribute('class','display table');
                table.setAttribute('cellspacing','0');
                table.setAttribute('width','100%');
                $('#content').append(table);
                var thead = document.createElement("thead");
                thead.setAttribute('id','tableHead'+id);
                table.append(thead);
                var tbody = document.createElement("tbody");
                tbody.setAttribute('id','tableBody'+id);
                table.append(tbody);

                var tableHead = document.getElementById("tableHead");
                var tr = document.createElement("tr");
                Object.keys(ret[0]).forEach(function (key) {
                    var th = document.createElement("th");
                    th.innerHTML = key;
                    tr.append(th);
                });
                thead.append(tr);

                while (tbody.firstChild) {
                    tbody.removeChild(tbody.firstChild);
                }
                for (idx in ret) {
                    var tr = document.createElement("tr");
                    Object.keys(ret[idx]).forEach(function (key) {
                        var td = document.createElement("td");
                        td.innerHTML = ret[idx][key];
                        tr.append(td);
                    });
                    tbody.append(tr);
                }

                ret = data.defendant;
                var id = "defendant";
                if(document.getElementById(id)!=null) {
                    $('#content').remove($("#"+id)[0]);
                }
                var table = document.createElement("table");
                table.setAttribute('id',id);
                table.setAttribute('class','display table');
                table.setAttribute('cellspacing','0');
                table.setAttribute('width','100%');
                $('#content').append(table);
                var thead = document.createElement("thead");
                thead.setAttribute('id','tableHead'+id);
                table.append(thead);
                var tbody = document.createElement("tbody");
                tbody.setAttribute('id','tableBody'+id);
                table.append(tbody);

                var tableHead = document.getElementById("tableHead");
                var tr = document.createElement("tr");
                Object.keys(ret[0]).forEach(function (key) {
                    var th = document.createElement("th");
                    th.innerHTML = key;
                    tr.append(th);
                });
                thead.append(tr);

                while (tbody.firstChild) {
                    tbody.removeChild(tbody.firstChild);
                }
                for (idx in ret) {
                    var tr = document.createElement("tr");
                    Object.keys(ret[idx]).forEach(function (key) {
                        var td = document.createElement("td");
                        td.innerHTML = ret[idx][key];
                        tr.append(td);
                    });
                    tbody.append(tr);
                }

                ret = data.evidence;
                var id = "evidence";
                if(document.getElementById(id)!=null) {
                    $('#content').remove($("#"+id)[0]);
                }
                var table = document.createElement("table");
                table.setAttribute('id',id);
                table.setAttribute('class','display table');
                table.setAttribute('cellspacing','0');
                table.setAttribute('width','100%');
                $('#content').append(table);
                var thead = document.createElement("thead");
                thead.setAttribute('id','tableHead'+id);
                table.append(thead);
                var tbody = document.createElement("tbody");
                tbody.setAttribute('id','tableBody'+id);
                table.append(tbody);

                var tableHead = document.getElementById("tableHead");
                var tr = document.createElement("tr");
                if(ret[0]!=undefined) {
                     Object.keys(ret[0]).forEach(function (key) {
                        var th = document.createElement("th");
                        th.innerHTML = key;
                        tr.append(th);
                    });
                    thead.append(tr);

                    while (tbody.firstChild) {
                        tbody.removeChild(tbody.firstChild);
                    }
                    for (idx in ret) {
                        var tr = document.createElement("tr");
                        Object.keys(ret[idx]).forEach(function (key) {
                            var td = document.createElement("td");
                            td.innerHTML = ret[idx][key];
                            tr.append(td);
                        });
                        tbody.append(tr);
                    }
                } else {

                }

                ret = data.judge;
                var id = "judge";
                if(document.getElementById(id)!=null) {
                    $('#content').remove($("#"+id)[0]);
                }
                var table = document.createElement("table");
                table.setAttribute('id',id);
                table.setAttribute('class','display table');
                table.setAttribute('cellspacing','0');
                table.setAttribute('width','100%');
                $('#content').append(table);
                var thead = document.createElement("thead");
                thead.setAttribute('id','tableHead'+id);
                table.append(thead);
                var tbody = document.createElement("tbody");
                tbody.setAttribute('id','tableBody'+id);
                table.append(tbody);

                var tableHead = document.getElementById("tableHead");
                var tr = document.createElement("tr");
                Object.keys(ret[0]).forEach(function (key) {
                    var th = document.createElement("th");
                    th.innerHTML = key;
                    tr.append(th);
                });
                thead.append(tr);

                while (tbody.firstChild) {
                    tbody.removeChild(tbody.firstChild);
                }
                for (idx in ret) {
                    var tr = document.createElement("tr");
                    Object.keys(ret[idx]).forEach(function (key) {
                        var td = document.createElement("td");
                        td.innerHTML = ret[idx][key];
                        tr.append(td);
                    });
                    tbody.append(tr);
                }

                ret = data.prosecutor;
                if(ret!=undefined) {
                    var id = "prosecutor";
                    if (document.getElementById(id) != null) {
                        $('#content').remove($("#" + id)[0]);
                    }
                    var table = document.createElement("table");
                    table.setAttribute('id', id);
                    table.setAttribute('class', 'display table');
                    table.setAttribute('cellspacing', '0');
                    table.setAttribute('width', '100%');
                    $('#content').append(table);
                    var thead = document.createElement("thead");
                    thead.setAttribute('id', 'tableHead' + id);
                    table.append(thead);
                    var tbody = document.createElement("tbody");
                    tbody.setAttribute('id', 'tableBody' + id);
                    table.append(tbody);

                    var tableHead = document.getElementById("tableHead");
                    var tr = document.createElement("tr");
                    if (ret[0] != undefined) {
                        Object.keys(ret[0]).forEach(function (key) {
                            var th = document.createElement("th");
                            th.innerHTML = key;
                            tr.append(th);
                        });
                        thead.append(tr);

                        while (tbody.firstChild) {
                            tbody.removeChild(tbody.firstChild);
                        }
                        for (idx in ret) {
                            var tr = document.createElement("tr");
                            Object.keys(ret[idx]).forEach(function (key) {
                                var td = document.createElement("td");
                                td.innerHTML = ret[idx][key];
                                tr.append(td);
                            });
                            tbody.append(tr);
                        }
                    } else {

                    }
                }


                ret = data.lawyer;
                if(ret!=undefined) {
                    var id = "lawyer";
                    if (document.getElementById(id) != null) {
                        $('#content').remove($("#" + id)[0]);
                    }
                    var table = document.createElement("table");
                    table.setAttribute('id', id);
                    table.setAttribute('class', 'display table');
                    table.setAttribute('cellspacing', '0');
                    table.setAttribute('width', '100%');
                    $('#content').append(table);
                    var thead = document.createElement("thead");
                    thead.setAttribute('id', 'tableHead' + id);
                    table.append(thead);
                    var tbody = document.createElement("tbody");
                    tbody.setAttribute('id', 'tableBody' + id);
                    table.append(tbody);

                    var tableHead = document.getElementById("tableHead");
                    var tr = document.createElement("tr");
                    if (ret[0] != undefined) {
                        Object.keys(ret[0]).forEach(function (key) {
                            var th = document.createElement("th");
                            th.innerHTML = key;
                            tr.append(th);
                        });
                        thead.append(tr);

                        while (tbody.firstChild) {
                            tbody.removeChild(tbody.firstChild);
                        }
                        for (idx in ret) {
                            var tr = document.createElement("tr");
                            Object.keys(ret[idx]).forEach(function (key) {
                                var td = document.createElement("td");
                                td.innerHTML = ret[idx][key];
                                tr.append(td);
                            });
                            tbody.append(tr);
                        }
                    } else {

                    }
                }

                                ret = data.witness;
                if(ret!=undefined) {
                    var id = "witness";
                    if (document.getElementById(id) != null) {
                        $('#content').remove($("#" + id)[0]);
                    }
                    var table = document.createElement("table");
                    table.setAttribute('id', id);
                    table.setAttribute('class', 'display table');
                    table.setAttribute('cellspacing', '0');
                    table.setAttribute('width', '100%');
                    $('#content').append(table);
                    var thead = document.createElement("thead");
                    thead.setAttribute('id', 'tableHead' + id);
                    table.append(thead);
                    var tbody = document.createElement("tbody");
                    tbody.setAttribute('id', 'tableBody' + id);
                    table.append(tbody);

                    var tableHead = document.getElementById("tableHead");
                    var tr = document.createElement("tr");
                    if (ret[0] != undefined) {
                        Object.keys(ret[0]).forEach(function (key) {
                            var th = document.createElement("th");
                            th.innerHTML = key;
                            tr.append(th);
                        });
                        thead.append(tr);

                        while (tbody.firstChild) {
                            tbody.removeChild(tbody.firstChild);
                        }
                        for (idx in ret) {
                            var tr = document.createElement("tr");
                            Object.keys(ret[idx]).forEach(function (key) {
                                var td = document.createElement("td");
                                td.innerHTML = ret[idx][key];
                                tr.append(td);
                            });
                            tbody.append(tr);
                        }
                    } else {

                    }
                }

                ret = data.deputy;
                if(ret!=undefined) {
                    var id = "deputy";
                    if (document.getElementById(id) != null) {
                        $('#content').remove($("#" + id)[0]);
                    }
                    var table = document.createElement("table");
                    table.setAttribute('id', id);
                    table.setAttribute('class', 'display table');
                    table.setAttribute('cellspacing', '0');
                    table.setAttribute('width', '100%');
                    $('#content').append(table);
                    var thead = document.createElement("thead");
                    thead.setAttribute('id', 'tableHead' + id);
                    table.append(thead);
                    var tbody = document.createElement("tbody");
                    tbody.setAttribute('id', 'tableBody' + id);
                    table.append(tbody);

                    var tableHead = document.getElementById("tableHead");
                    var tr = document.createElement("tr");
                    if (ret[0] != undefined) {
                        Object.keys(ret[0]).forEach(function (key) {
                            var th = document.createElement("th");
                            th.innerHTML = key;
                            tr.append(th);
                        });
                        thead.append(tr);

                        while (tbody.firstChild) {
                            tbody.removeChild(tbody.firstChild);
                        }
                        for (idx in ret) {
                            var tr = document.createElement("tr");
                            Object.keys(ret[idx]).forEach(function (key) {
                                var td = document.createElement("td");
                                td.innerHTML = ret[idx][key];
                                tr.append(td);
                            });
                            tbody.append(tr);
                        }
                    } else {

                    }
                }


                ret = data.juror;
                if(ret!=undefined) {
                    var id = "juror";
                    if (document.getElementById(id) != null) {
                        $('#content').remove($("#" + id)[0]);
                    }
                    var table = document.createElement("table");
                    table.setAttribute('id', id);
                    table.setAttribute('class', 'display table');
                    table.setAttribute('cellspacing', '0');
                    table.setAttribute('width', '100%');
                    $('#content').append(table);
                    var thead = document.createElement("thead");
                    thead.setAttribute('id', 'tableHead' + id);
                    table.append(thead);
                    var tbody = document.createElement("tbody");
                    tbody.setAttribute('id', 'tableBody' + id);
                    table.append(tbody);

                    var tableHead = document.getElementById("tableHead");
                    var tr = document.createElement("tr");
                    if (ret[0] != undefined) {
                        Object.keys(ret[0]).forEach(function (key) {
                            var th = document.createElement("th");
                            th.innerHTML = key;
                            tr.append(th);
                        });
                        thead.append(tr);

                        while (tbody.firstChild) {
                            tbody.removeChild(tbody.firstChild);
                        }
                        for (idx in ret) {
                            var tr = document.createElement("tr");
                            Object.keys(ret[idx]).forEach(function (key) {
                                var td = document.createElement("td");
                                td.innerHTML = ret[idx][key];
                                tr.append(td);
                            });
                            tbody.append(tr);
                        }
                    } else {

                    }
                }


                ret = data.law;
                var id = "law";
                if(document.getElementById(id)!=null) {
                    $('#content').remove($("#"+id)[0]);
                }
                var table = document.createElement("table");
                table.setAttribute('id',id);
                table.setAttribute('class','display table');
                table.setAttribute('cellspacing','0');
                table.setAttribute('width','100%');
                $('#content').append(table);
                var thead = document.createElement("thead");
                thead.setAttribute('id','tableHead'+id);
                table.append(thead);
                var tbody = document.createElement("tbody");
                tbody.setAttribute('id','tableBody'+id);
                table.append(tbody);

                var tableHead = document.getElementById("tableHead");
                var tr = document.createElement("tr");
                Object.keys(ret[0]).forEach(function (key) {
                    var th = document.createElement("th");
                    th.innerHTML = key;
                    tr.append(th);
                });
                thead.append(tr);

                while (tbody.firstChild) {
                    tbody.removeChild(tbody.firstChild);
                }
                for (idx in ret) {
                    var tr = document.createElement("tr");
                    Object.keys(ret[idx]).forEach(function (key) {
                        var td = document.createElement("td");
                        td.innerHTML = ret[idx][key];
                        tr.append(td);
                    });
                    tbody.append(tr);
                }








            })
        });

    </script>
{% endblock %}
{% block content %}

    <div class="form-group">
        <label for="usr">판결ID:</label>
        <input id="accusedID" class="form-control" type="text" name="accusedID"/>
        </br>
        <center><button class="btn btn-primary" style="width:100%" onclick="search()">검색</button></center>
    </div>
    </br>
    </br>

{% endblock %}